@import "tailwindcss";
@theme {
    --font-display: "Lato", sans-serif;

    --color-black-100: #0A0A0C;
    --color-black-200: #101012;
    --color-black-300: #171719;
    --color-black-400: rgba(85, 85, 85, 0.10);
    --color-gray-100: #767676;
    --color-gray-200: rgba(230, 230, 230, 0.51);
    --color-gray-300: #B0B0B0;
    --color-white-100: #E6E6E6;
    --color-blue-100: #1559CB;
    --color-blue-200: #3382FF;
    --color-blue-300: #194BFD;
    --color-blue-400: #34A4DD;
    --color-green-100: #0E7565;
    --color-green-200: #AEE629;
    --color-mint-100: #C6F4ED;
    --color-yellow-100: #EBCB2C;
    --color-orange-100: #E25225;
    --color-red-100: #CB333E;
    --color-turquoise-100: #1ABC9C
}

body, #root {
    min-height: 100vh;
    margin: 0;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #3382FF;
    }

    &::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
    }
}

.background-gradient {
    background: linear-gradient(90deg, #194BFD, #AD13FB);
}

.animated-text-gradient {
    background: linear-gradient(90deg, #E6E6E6 , #3382FF , #1559CB );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
